{% extends 'base.html.twig' %}

{% block title %}Detalles ministerio{% endblock %}



{% block body %}
    
<div class="container-fluid">
    <h3 class="alert alert-info"> {{ministerio.Nombre}}</h3> 
    
    
        <a href="{{path('asignarMiembroMinisterio',{idm:ministerio.Idministerio})}}" class="btn btn-success">
            <i class="fas fa-user-plus fa-2x"> </i> Asiganr Miembro
        </a>
    


    {% if lider == null %}
    <a href="{{path('asignarLider', {id:ministerio.Idministerio})}}" class="btn btn-success">
        <i class="fas fa-user-plus fa-2x"></i> Asignar lider
    </a>
    {% endif %}


    {% if lider != null %}
    <a class="btn btn-success" href="{{path('asignarLider',{id:ministerio.Idministerio})}}">
        <i class="fas fa-sync-alt fa-2x"></i> Cambiar Lider
    </a>
    {% endif %}

    
    <br><br>
</div>

{# NOTIFICACIONES #}
    <div class="container-fluid">
      {% for message2 in app.session.flashbag().get('done') %}
        <div class="alert alert-success">{{message2}}</div>
      {% endfor %}
    </div>
    <div class="container-fluid">
      {% for message1 in app.session.flashbag().get('error') %}
        <div class="alert alert-danger">{{message1}}</div>
      {% endfor %}
    </div>
    {#FIN NOTIFIACIONES#}

<div class="card bg-info text-black container">

    {% if lider != null %}
    <div class="card-header"><h4>Lider Ministerio: {{lider[0].Miembromiembro.Nombres}} {{lider[0].Miembromiembro.Apellidos}}</h4></div>
    {% endif %}
    {% if lider == null %}
    <div class="card-header"><h4>Asignar lider a ministerio</h4></div>
    {% endif %}
    
    
    <div class="card-body" style="background-color: white;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Genero</th>
                </tr>
            </thead>
            <tbody>
            {% for miembro in miembros %}
                <tr>
                    <td>{{miembro.Nombres}}</td>
                    <td>{{miembro.Apellidos}}</td>
                    <td>{{miembro.Genero}}</td>
                    <td>
                        <a class="btn btn-danger" href="{{path('borrarMiembroMinisterio',{id:miembro.Idmiembro})}}">
                            <i class="fas fa-trash-alt"></i> Borrar
                        </a>
                    </td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>
    
  </div>
</div>

<div class="container-fluid">
    <br><br>

<a class="btn btn-danger" 
href="{{path('pdfMinisterio',{id:ministerio.Idministerio})}}">
    <i class="fas fa-file-pdf fa-2x"></i> Crear pdf
</a>
</div>

{% endblock %}