{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
	<h3 class="alert alert-info">Ventana de Miembros</h3>
	<a class="btn btn-danger" href="{{path('nuevoMiembro')}}">
				<i class="fa fa-plus"></i> Nuevo miembro
			</a><br><br>
			<div class="table-responsive">
			<table class=" table table-bordered">
						<tr>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Estado Civil</th>
							<th>Fecha nacimiento</th>
							<th>Genero</th>
							<th>Email</th>
							<th>Direccion</th>
							<th>Telefono Fijo</th>
							<th>Telefono Movil</th>
							<th>Nacionalidad</th>
							<th>Profesion</th>
							<th>Fecha Aceptacion</th>
						</tr>

						<tbody>
							{% for miembro in miembros %}
							<tr>
								<td>{{miembro.Nombres}}</td>
								<td>{{miembro.Apellidos}}</td>
								<td>{{miembro.EstadoCivil}}</td>
								<td>{{miembro.FechaNac|date('d/m/Y')}}</td>
								<td>{{miembro.Genero}}</td>
								<td>{{miembro.Email}}</td>
								<td>{{miembro.Direccion}}</td>
								<td>{{miembro.TelefonoFijo}}</td>
								<td>{{miembro.TelefonoMovil}}</td>
								<td>{{miembro.Nacionalidad}}</td>
								<td>{{miembro.Profesion}}</td>
								<td>{{miembro.FechaAceptacion|date('d/m/Y')}}</td>
								<td>
									<a class="btn btn-default" type="button" href="{{path('editarMiembro',{id:miembro.Idmiembro})}}">
										<i class="fas fa-user-edit fa-2x"></i> Editar
									</a>
								</td>
							</tr>    
							{% endfor %}
						</tbody>
					</table>
					</div>	

</div>

	<div class="container-fluid">
		

<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<br>

			<div class="panel panel-primary ">
				<div class="panel-body">
					
				</div>
			</div>	
		</div>
	</div>
</div>

	</div>


{% endblock %}