{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
	<h3 class="alert alert-info">Ventana de Miembros</h3>
	<a class="btn btn-danger" href="{{path('nuevoMiembro')}}">
				<i class="fa fa-plus"></i> Nuevo miembro
			</a><br><br>
			{# NOTIFICACIONES #}
    <div class="container-fluid">
      {% for message2 in app.session.flashbag().get('done') %}
        <div class="alert alert-success">{{message2}}</div>
      {% endfor %}
    </div>
    <div class="container-fluid">
      {% for message1 in app.session.flashbag().get('error') %}
        <div class="alert alert-danger">{{message1}}</div>
      {% endfor %}
    </div>
    {#FIN NOTIFIACIONES#}
<br><br>
			<div class="container">
			<div class="table-responsive">
			<table class=" table table-bordered">
						<tr>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Fecha Aceptacion</th>
							<th>Estado</th>
						</tr>

						<tbody>
							{% for miembro in miembros %}
							<tr>
								<td>{{miembro.Nombres}}</td>
								<td>{{miembro.Apellidos}}</td>
								<td>{{miembro.FechaAceptacion|date('d/m/Y')}}</td>
								<td>
									{% if miembro.Estado == 0 %}
										<span class="btn btn-danger">Inactivo</span>
									{% endif %}
									{% if miembro.Estado == 1 %}
										<span class="btn btn-primary">Activo</span>
									{% endif %}
								</td>
								<td>
									<a class="btn btn-default" type="button" href="{{path('detalleMiembro',{id:miembro.Idmiembro})}}">
										<i class="fas fa-info-circle fa-2x"></i></i> Detalle
									</a>
								</td>
							</tr>    
							{% endfor %}
						</tbody>
					</table>
					</div>	
					</div>

</div>

	<div class="container-fluid">
		

<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<br>

			<div class="panel panel-primary ">
				<div class="panel-body">
					
				</div>
			</div>	
		</div>
	</div>
</div>

	</div>


{% endblock %}