{% extends 'base.html.twig' %}
{% block title %}
	Tesoreria    
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="alert alert-info">
			Tesoreria
		</h1>
		
		{% if validar > 0 %}
		<a class="btn btn-success btn-lg" href="{{path('nuevaTransaccion')}}">
        	<i class="fas fa-file-invoice-dollar fa-2x"></i> Ingreso/Gasto
    	</a>
		{% endif %}
		
		<a class="btn btn-info btn-lg" href="{{path('nuevoTipotransaccion')}}">
        	<i class="fas fa-money-check-alt fa-2x"></i></i> Crear Tipo Gasto/Ingreso
    	</a>
		<br><br>
	</div>

	<div class="card bg-primary text-black container">
  <div class="card-header"><h4>Caja: {{caja.Total}}</h4></div>
  <div class="card-body" style="background-color: white;">
	<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Descripcion</th>
				<th>Fecha</th>
            </tr>
        </thead>
        <tbody>
			{% for transaccion in transacciones %}
			<tr>
				<td>{{transaccion.Tipotransacciontipotransaccion.Nombre}}</td>
				<td>{{transaccion.Cantidad}}</td>
				<td>{{transaccion.Descripcion}}</td>
				<td>{{transaccion.Fecha|date('d/m/Y')}}</td>
			</tr>
			{% endfor %}
        </tbody>
    </table>
	</div>
    
  </div>
</div>
{% endblock %}