{% extends 'baseTesoreria.html.twig' %}

{% block title %}Resultado busqueda{% endblock %}

{% block body %}
<div class="container-fluid">

<div class="container-fluid">
    <h1 class="alert alert-info">Resultado busqueda</h1>
    <h3>Fecha Inicio: {{fecha1|date('d/m/Y')}}</h3>
    <h3>Fecha Final: {{fecha2|date('d/m/Y')}}</h3>
</div>

<div class="card bg-primary text-black container">
  <div class="card-header"><h4>Caja: {{caja.Total}}</h4></div>
  <div class="card-body" style="background-color: white;">
	<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Descripcion</th>
				<th>Fecha</th>
            </tr>
        </thead>
        <tbody>
			{% for transaccion in transacciones %}
			<tr>
				<td>{{transaccion.Tipotransacciontipotransaccion.Nombre}}</td>
				<td>{{transaccion.Cantidad}}</td>
				<td>{{transaccion.Descripcion}}</td>
				<td>{{transaccion.Fecha|date('d/m/Y')}}</td>
			</tr>
			{% endfor %}
        </tbody>
    </table>
	</div>
    <div class="card-footer text-muted">
            <button class="btn btn-danger">
                Imprimir pdf
            </button>
    </div>

  </div>
  
</div>
    
</div>

{% endblock %}